
            <img src= {{beer.image_url}} />
            <h3>{{beer.name}}</h3>
            <p>{{beer.description}}</p>
            <p>{{beer.tagline}}</p> 
            <h3>Food Pairing</h3>
            <ul>
                <li> 
                 <h4>{{beer.food_pairing}}</h4>
                 </li>
            </ul>
           <h4>{{beer.brewers_tips}}</h4>   
